# Semana 07
Antonella Brighit Bravo Ames

Tema
    1. Numeros
    2. Variables
    3. Manejo de cadena
    4. Ingreso de datos por el teclado
    5. Operadores

 5. Operadores

In [9]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
print(suma)

13

In [10]:
numero1 = 10
numero2 = 3
resta = numero1 - numero2
print(resta)

7

In [15]:
numero1 = 10
numero2 = 3
multiplicacion = numero1 * numero2
print(multiplicacion)

30

In [16]:
numero1 = 10
numero2 = 3
division = numero1 / numero2
print(division)

3.3333333333333335

In [17]:
numero1 = 10
numero2 = 3
residuo = numero1 % numero2
print(residuo)

1

In [18]:
numero1 = 10
numero2 = 3
cociente = numero1 // numero2
print(cociente)

3

In [19]:
numero1 = 10
numero2 = 3
potencia = numero1 ** numero2
print(potencia)

1000

In [20]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [21]:
#Lo mismo se puede hacer con todos los casos, incluspo la potencia
#Veamos otro ejemplo
numero = 5
numero = numero ** 3
print(numero)

125

In [23]:
#La operacion anterior tambien se puede expresar de la siguiente manera
numero = 5
numero **= 3
print(numero)

125

In [24]:
#5.3 Operadores de comparacion
#Se tiene: ==,!=, <, >, >=,

In [25]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [27]:
#Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [28]:
#5.4 Operadores lógicos
#Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [29]:
numero1 < numero2

True

In [30]:
#El not invierte el resultado
not(numero1 < numero2)

False

In [31]:
numero1 < numero2 and numero3 < numero4

True

In [32]:
#Tambien puedes utilizar parentesis para ordenar tu operacion
(numero1 < numero2 and numero3 < numero4) or (numero3>numero4)

True

In [33]:
#5.5 Operadores de Pertenencia
#Se tiene: in, not in

In [34]:
#Miremos un ejemplo

aula = ["Juan", "Daniel","Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [36]:
#¿Diego esta en el aula?
alumno1 in aula

False

In [37]:
#¿Juan esta en el aula?
alumno2 in aula

True

In [38]:
#¿Diego no esta en el aula?
alumno1 not in aula

True

In [39]:
#5.6 Operadores de identidad
#Se tiene: is, is not

In [40]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
#A coninuacion vamos a indicar que aula3 va a compatir el mismo objeto que el aula1
aula3 = aula1

In [41]:
#¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [42]:
#¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [43]:
print(aula1)

['Juan', 'Daniel', 'Ruben']

In [44]:
#Al imprimir los elementos de la lista 3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben']